# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
  branches:
    include:
      - azure_cd
  tags:
     include:
      - v*

stages:
- stage: Test
  jobs:
  - job: test_linux
  - template: ci/azure/posix.yml
    parameters:
      name: Test_bare_Linux
      vmImage: ubuntu-16.04

  - job: 'Publish'
    condition: contains(variables['Build.SourceBranch'], 'tags')
    dependsOn: 'Test_bare_linux'
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.x'
        architecture: 'x64'

    - script: |
         pip install wheel twine
      displayName: 'install requirements'
 
    - script: |
         python setup.py bdist_wheel
      displayName: 'build'

    - task: TwineAuthenticate@1
      displayName: 'Twine Authenticate'
      inputs:
        pythonUploadServiceConnection: pypitest
 
    - script: |
         python -m twine upload -r "pypitest" --config-file $(PYPIRC_PATH) dist/*.whl
      displayName: 'upload'
