# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
  branches:
    include:
      - azure_cd
  tags:
     include:
      - v*

stages:
- stage: Test
  jobs:
  - job: test_linux
  - template: ci/azure/posix.yml
    parameters:
      name: Test_bare_Linux
      vmImage: ubuntu-16.04

  - job: 'Publish'
    dependsOn: 'Test_bare_linux'
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.x'
        architecture: 'x64'

    - script: pip install wheel twine
      displayName: 'Install distribution dependencies'

    - script: python setup.py sdist bdist_wheel
      displayName: 'Build sdist and wheel'

    - script: |
       python -m twine upload dist/*
      condition: and(succeeded(), contains(variables['Build.SourceBranch'], 'tags'))
      env:
        TWINE_USERNAME: '__token__'
        TWINE_PASSWORD: $(TEST_PYPI_API_KEY)
        TWINE_REPOSITORY_URL: 'https://test.pypi.org/legacy/'
      displayName: 'Upload to PyPI'
