# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- master


jobs:

- template: ci/azure/posix.yml
  parameters:
    name: Test_bare_Linux
    vmImage: ubuntu-16.04


- template: ci/azure/posix.yml
  parameters:
    name: Test_bare_macOS
    vmImage: macOS-10.14


- template: ci/azure/conda_windows.yml
  parameters:
    name: Test_conda_windows
    vmImage: vs2017-win2016
