# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
  branches:
    include:
    - azure_cd
    - refs/tags/{tagname}


jobs:

- template: ci/azure/conda_linux.yml
  parameters:
    name: Test_conda_linux
    vmImage: ubuntu-16.04


- job: 'Publish'
  dependsOn: 'Test_conda_linux'
  pool:
    vmImage: 'ubuntu-latest'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.x'
      architecture: 'x64'

  # Install python distributions like wheel, twine etc
  - script: |
       pip install wheel twine
    displayName: 'Install distribution dependencies'

  # Build the python distribution from source
  - script: |
      python setup.py sdist bdist_wheel
    displayName: 'Build sdist and wheel'

  - task: TwineAuthenticate@1
    displayName: 'Twine Authenticate'
    inputs:
      # In this case, name of the service connection is "pypitest".
      pythonUploadServiceConnection: pypitest

  # Use command line script to 'twine upload', use -r to pass the repository name and --config-file to pass the environment variable set by the authenticate task.
  - script: |
       python -m twine upload --repository-url "https://test.pypi.org/legacy/" --username "__token__" --password $(TEST_PYPI_API_KEY) dist/*
