# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
  branches:
    include:
      - azure_cd
  tags:
     include:
      - v*

jobs:
- template: ci/azure/conda_linux.yml
  parameters:
    name: Test_conda_linux
    vmImage: ubuntu-16.04


- job: 'Publish'
  dependsOn: 'Test_conda_linux'
  pool:
    vmImage: 'ubuntu-latest'
  steps:
  - template: ci/azure/publish.yml
