# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
  branches:
    include:
      - azure_cd
  tags:
     include:
      - v*

stages:
- stage: Test
  jobs:
  - job: test_linux
  - template: ci/azure/posix.yml
    parameters:
      name: Test_bare_Linux
      vmImage: ubuntu-16.04

  - job: publish
    dependsOn: 'Test_bare_linux'
  - template: ci/azure/publish.yml
    parameters:
      name: Publish_package
      vmImage: ubuntu-16.04
