# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
  branches:
    include:
      - azure_cd
  tags:
     include:
      - v*

stages:
- stage: Test
  jobs:
  - job: test_linux
  - template: ci/azure/posix.yml
    parameters:
      name: Test_bare_Linux
      vmImage: ubuntu-16.04

  - job: 'Publish'
    condition: contains(variables['Build.SourceBranch'], 'tags')
    dependsOn: 'Test_bare_linux'
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.x'
        architecture: 'x64'

    - script: pip install wheel twine
      displayName: 'Install distribution dependencies'

    - script: python setup.py sdist bdist_wheel
      displayName: 'Build sdist and wheel'

    - task: TwineAuthenticate@1
      displayName: 'Twine Authenticate'
      inputs:
        pythonUploadServiceConnection: pypitest

    - script: |
        # python -m twine upload --repository-url "https://test.pypi.org/legacy/" --username "__token__" --password $(TEST_PYPI_API_KEY) dist/*
        python -m twine upload -r "pypitest" --config-file $(PYPIRC_PATH) dist/*
      displayName: 'Upload to PyPI'
